body {
    background-color:#899B9F;
    color: #0D0D0D;
}

.titulos{
    background-color: #495958;
    font: 20px Arial, Helvetica, sans-serif;
    text-align:center; 
    font-style: italic;
    font-weight: bold;
}

.parrafos{
    text-align: justify;
    font: 15px Arial, Helvetica, sans-serif;
}

.puntos{
    text-decoration: underline;
    font-weight: bold;
}

img{
    width:120px;
}

#a1{
    background-color: rgb(80, 255, 249);  
}

#a2{
    background-color: rgb(150, 80, 255); 
}