body {
  font-family: 'Mitr', sans-serif;
  background-color: #F0EEC9;
  color: #4BA2AC;
}

h1 {
    font-family: 'Lobster', cursive;
    margin-top: 50px;
    font-size: 90px;
    text-align: center;
    margin-bottom: 8px;
}
p{
    font-size: 30;
}

.texto {
    margin-bottom: 5px;
    text-align: center;
    font-size: 18x;
}

a{
  text-align: left; 
}
.siguiente a {
  color: black;
  text-decoration: none;
  
  font-family: Arial, Helvetica, sans-serif
}

img{
  text-align: center;
  width: 250px; 
  height: 250px;
}
.contenedor img {
    display: block; 
    margin: 0 auto; 
}